---
layout: freelearningdefault
title: Free Learning - University Physics Sequence
---
{% include freelearningtopictitle.html title="University Physics Sequence" description="This topic follows a comprehensive university-level treatment of mechanics, electromagnetism, and modern physics." %}
{% include freelearningcontent.html url="https://openstax.org/details/books/university-physics-volume-1" title="Openstax University Physics Volume 1" brief="University-level physics volume 1." %}
{% include freelearningcontent.html url="https://openstax.org/details/books/university-physics-volume-2" title="Openstax University Physics Volume 2" brief="University-level physics volume 2." %}
{% include freelearningcontent.html url="https://openstax.org/details/books/university-physics-volume-3" title="Openstax University Physics Volume 3" brief="University-level physics volume 3." %}
