---
layout: freelearningdefault
title: Free Learning - University Physics
---
{% include freelearningtopictitle.html title="University Physics" description="Calculus-based physics sequence across multiple volumes." %}
{% include freelearningcontent.html url="https://openstax.org/details/books/university-physics-volume-1" title="Openstax University Physics Volume 1" brief="University physics volume 1." %}
{% include freelearningcontent.html url="https://openstax.org/details/books/university-physics-volume-2" title="Openstax University Physics Volume 2" brief="University physics volume 2." %}
{% include freelearningcontent.html url="https://openstax.org/details/books/university-physics-volume-3" title="Openstax University Physics Volume 3" brief="University physics volume 3." %}
