---
layout: freelearningdefault
title: Free Learning - Data Structures
---
{% include freelearningtopictitle.html title="Data Structures" description="Arrays, trees, graphs, and hash tables." %}
{% include freelearningcontent.html url="https://opendsa-server.cs.vt.edu/ODSA/Books/Everything/html/" title="Opendsa" brief="Interactive DSA platform." %}
{% include freelearningcontent.html url="https://opendatastructures.org/ods-cpp/" title="Open Data Structures (In C++)" brief="Data structures text with C++ examples." %}
