---
layout: freelearningdefault
title: Free Learning - Web Development
---
{% include freelearningcontent.html url="web" title="Web Development" brief="Web development is the process of creating websites and web applications. It involves a combination of programming languages, frameworks, and tools to build functional and visually appealing web experiences. This field covers both front-end development (what users see) and back-end development (server-side logic and databases)." color="#fbfbff" %}
{% include freelearningcontent.html url="html" title="Html" brief="Learn the basics of HTML, the standard markup language for creating web pages." color="#EBF1F7" %}
