---
layout: freelearningdefault
title: Free Learning - Functional Programming With Haskell
---
{% include freelearningtopictitle.html title="Functional Programming With Haskell" description="This topic covers functional abstractions, type classes, and algebraic modeling for expressive software development." %}
{% include freelearningcontent.html url="https://learnyouahaskell.github.io/introduction.html#so-whats-haskell" title="Learn You A Haskell For Great Good" brief="Friendly introduction to Haskell and functional programming." %}
