---
layout: freelearningdefault
title: Free Learning - Rust
---
{% include freelearningtopictitle.html title="Rust" description="Ownership, lifetimes, and safe systems code." %}
{% include freelearningcontent.html url="https://os.phil-opp.com/" title="Writing An Os In Rust" brief="Build a small OS in Rust." %}
{% include freelearningcontent.html url="https://doc.rust-lang.org/stable/book/" title="The Rust Programming Language Book" brief="Official Rust book." %}
{% include freelearningcontent.html url="https://rustlings.rust-lang.org/" title="Rustlings" brief="Rust practice exercises." %}
{% include freelearningcontent.html url="https://doc.rust-lang.org/stable/rust-by-example/" title="Rust By Example" brief="Rust examples." %}
