---
layout: freelearningdefault
title: Free Learning - Behavioral Neuroscience
---
{% include freelearningtopictitle.html title="Behavioral Neuroscience" description="Neuroscience topics connect neural mechanisms to cognition, behavior, and biological regulation." %}
{% include freelearningcontent.html url="https://openstax.org/details/books/introduction-behavioral-neuroscience" title="Openstax Introduction To Behavioral Neuroscience" brief="Introductory neuroscience text focused on behavior." %}
