---
layout: freelearningdefault
title: Free Learning - Assembly
---
{% include freelearningtopictitle.html title="Assembly" description="Registers, instructions, and low-level execution." %}
{% include freelearningcontent.html url="https://www.cs.virginia.edu/~evans/cs216/guides/x86.html" title="X86 Assembly Guide By University Of Virginia" brief="Introductory x86 assembly guide." %}
{% include freelearningcontent.html url="http://www.egr.unlv.edu/~ed/assembly64.pdf" title="X86-64 Assembly Language Programming With Ubuntu" brief="x86-64 assembly tutorial in Ubuntu." %}
