---
layout: freelearningdefault
title: Free Learning - Operating Systems
---
{% include freelearningtopictitle.html title="Operating Systems" description="Processes, memory, filesystems, and kernels." %}
{% include freelearningcontent.html url="https://github.com/tuhdo/os01/blob/master/Operating_Systems_From_0_to_1.pdf" title="Operating Systems From 0 To 1" brief="Operating systems guide from first principles." %}
{% include freelearningcontent.html url="https://cpu.land/" title="Cpu.Land" brief="Interactive CPU and computer basics." %}
{% include freelearningcontent.html url="https://os.phil-opp.com/" title="Writing An Os In Rust" brief="Build a small OS in Rust." %}
{% include freelearningcontent.html url="https://pages.cs.wisc.edu/~remzi/OSTEP/" title="Operating Systems Three Easy Pieces" brief="Operating systems textbook." %}
